{% extends "base.html.twig" %}
{# title est ce qui s'affiche dans l'onglet du navigateur ce n'est pas un titre #}

{% block title %} Accueil {% endblock %}


{% block body %}
<h1 class="text-center my-4" Bienvenue sur la boutique MY ESHOP</h1>
{% endblock %}